@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h3>Rejoice always, pray without ceasing, give thanks in all circumstances;</h3>
    <br />
    <h3>  for this is the will of God in Christ Jesus for you</h3>
    <br />
    <h3>1 Thessalonians 5:16-17</h3>
</div>
