@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="PrayerPolicy">
    <h1>@ViewData["Title"]</h1>

    <p>Hey friend! Here are our rules for the server</p>
    <p>1) Don't be unnecessarily explicit</p>
    <p>2) Be nice</p>
</div>